[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
pymysql = "*"
dj-database-url = "*"
requests = "*"
pytest = "*"
django-debug-toolbar = "*"
pillow = "*"
python-dotenv = "*"
python-decouple = "*"
six = "*"
django-auto-logout = "*"
pytz = "*"
wheel = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.10"
